.title{
    font-family: monospace;
    text-align: center;
    color: beige;
}

body{
    background-color: rgb(9, 9, 149);
}
p {
    font-family: monospace;
    text-align: center;
    color: beige;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 100px;
    color: azure;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(51, 207, 207);
}
a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:white;
}
.p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 30px;
text-align: left;

}
button{
    border: solid;
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;


}
button:hover{
    background-color: rgb(250, 232, 33);
    color:blue
}
footer{
    background-color: #1c2331; /* Dark blue footer background color */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


.text-box {
    border: 2px solid #ccc; 
    padding: 2px; 
    border-radius: 4px; 
    margin: 7px; 
}
.contents{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: left;

}
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #112240; /* Dark blue content background color */
    border-radius: 8px;
  }
  .flexbox{
    margin-bottom: 50px ;
  }